@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('/cat-wallpaper-pc.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}
.site-overlay {
  background: rgba(255,255,255,0.7);
}